name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build-release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Build binary
        run: |
          make build

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: cmd/cron-service/bin/cron-service
          tag: ${{ github.ref }}
          name: "${{ github.ref }}"